<div class="top-bottom-field-edge">
  <div class="cell corner-cell">
    <!-- start -->
    <img src="{{ gamePageData.cells.n1.imageSrc }}" alt="start" width="110px" height="110px">
  </div>

  {{#with gamePageData.cells.n2}}
    <!-- CHANEL -->
    <div class="cell not-corner-cell top-bottom-edge-not-corner-cell"
      {{#if ownerColor}}
         style="background-color: {{ ownerColor }}"
      {{/if}}
    >
      <div class="top-edge-cell-price">
        {{#if ownerColor}}
          <span class="price-rent-text">{{ rent }} $</span>
        {{/if}}

        {{#unless ownerColor}}
          <span class="price-rent-text">{{ price }} $</span>
        {{/unless}}
      </div>
      <img src="{{ imageSrc }}" alt="start" width="40px">
    </div>
  {{/with}}

  <div class="cell not-corner-cell top-bottom-edge-not-corner-cell">
    <!-- chance -->
    <img src="{{ gamePageData.cells.n3.imageSrc }}" alt="start" width="40px">
  </div>

  {{#with gamePageData.cells.n4}}
    <!-- HUGO BOSS -->
    <div class="cell not-corner-cell top-bottom-edge-not-corner-cell"
      {{#if ownerColor}}
         style="background-color: {{ ownerColor }}"
      {{/if}}
    >
      <div class="top-edge-cell-price">
        {{#if ownerColor}}
          <span class="price-rent-text">{{ rent }} $</span>
        {{/if}}

        {{#unless ownerColor}}
          <span class="price-rent-text">{{ price }} $</span>
        {{/unless}}
      </div>
      <img src="{{ imageSrc }}" alt="start" width="30px">
    </div>
  {{/with}}

  <div class="cell not-corner-cell top-bottom-edge-not-corner-cell">
    <!-- tax -->
    <img src="{{ gamePageData.cells.n5.imageSrc }}" alt="start" width="50px">
  </div>

  {{#with gamePageData.cells.n6}}
    <!-- MERCEDES -->
    <div class="cell not-corner-cell top-bottom-edge-not-corner-cell"
      {{#if ownerColor}}
         style="background-color: {{ ownerColor }}"
      {{/if}}
    >
      <div class="top-edge-cell-price">
        {{#if ownerColor}}
          <span class="price-rent-text">{{ rent }} $</span>
        {{/if}}

        {{#unless ownerColor}}
          <span class="price-rent-text">{{ price }} $</span>
        {{/unless}}
      </div>
      <img src="{{ imageSrc }}" alt="start" width="40px">
    </div>
  {{/with}}

  {{#with gamePageData.cells.n7}}
    <!-- ADIDAS -->
    <div class="cell not-corner-cell top-bottom-edge-not-corner-cell"
      {{#if ownerColor}}
         style="background-color: {{ ownerColor }}"
      {{/if}}
    >
      <div class="top-edge-cell-price">
        {{#if ownerColor}}
          <span class="price-rent-text">{{ rent }} $</span>
        {{/if}}

        {{#unless ownerColor}}
          <span class="price-rent-text">{{ price }} $</span>
        {{/unless}}
      </div>
      <img src="{{ imageSrc }}" alt="start" width="40px">
    </div>
  {{/with}}

  <div class="cell not-corner-cell top-bottom-edge-not-corner-cell">
    <!-- chance -->
    <img src="{{ gamePageData.cells.n8.imageSrc }}" alt="start" width="40px">
  </div>

  {{#with gamePageData.cells.n9}}
    <!-- PUMA -->
    <div class="cell not-corner-cell top-bottom-edge-not-corner-cell"
      {{#if ownerColor}}
         style="background-color: {{ ownerColor }}"
      {{/if}}
    >
      <div class="top-edge-cell-price">
        {{#if ownerColor}}
          <span class="price-rent-text">{{ rent }} $</span>
        {{/if}}

        {{#unless ownerColor}}
          <span class="price-rent-text">{{ price }} $</span>
        {{/unless}}
      </div>
      <img src="{{ imageSrc }}" alt="start" width="40px">
    </div>
  {{/with}}

  {{#with gamePageData.cells.n10}}
    <!-- LACOSTE -->
    <div class="cell not-corner-cell top-bottom-edge-not-corner-cell"
      {{#if ownerColor}}
         style="background-color: {{ ownerColor }}"
      {{/if}}
    >
      <div class="top-edge-cell-price">
        {{#if ownerColor}}
          <span class="price-rent-text">{{ rent }} $</span>
        {{/if}}

        {{#unless ownerColor}}
          <span class="price-rent-text">{{ price }} $</span>
        {{/unless}}
      </div>
      <img src="{{ imageSrc }}" alt="start" width="35px">
    </div>
  {{/with}}

  <div class="cell corner-cell empty-corner-cell">
  </div>
</div>

<div class="left-right-field-edge">
  <div class="left-right-field-edge-row">
    {{#with gamePageData.cells.n40}}
      <!-- NOKIA -->
      <div class="cell not-corner-cell left-right-edge-not-corner-cell"
        {{#if ownerColor}}
           style="background-color: {{ ownerColor }}"
        {{/if}}
      >
        <img src="{{ imageSrc }}" alt="start" width="80px">
        <div class="left-edge-cell-price">
          {{#if ownerColor}}
            <span class="price-rent-text">{{ rent }} $</span>
          {{/if}}

          {{#unless ownerColor}}
            <span class="price-rent-text">{{ price }} $</span>
          {{/unless}}
        </div>
      </div>
    {{/with}}

    {{#with gamePageData.cells.n12}}
      <!-- VK -->
      <div class="cell not-corner-cell left-right-edge-not-corner-cell"
        {{#if ownerColor}}
           style="background-color: {{ ownerColor }}"
        {{/if}}
      >
        <img src="{{ imageSrc }}" alt="start" width="70px">
        <div class="right-edge-cell-price">
          {{#if ownerColor}}
            <span class="price-rent-text">{{ rent }} $</span>
          {{/if}}

          {{#unless ownerColor}}
            <span class="price-rent-text">{{ price }} $</span>
          {{/unless}}
        </div>
      </div>
    {{/with}}
  </div>

  <div class="left-right-field-edge-row">
    <div class="cell not-corner-cell left-right-edge-not-corner-cell">
      <!-- chance -->
      <img src="{{ gamePageData.cells.n39.imageSrc }}" alt="start" width="60px">
    </div>

    {{#with gamePageData.cells.n13}}
      <!-- ROCKSTAR GAMES -->
      <div class="cell not-corner-cell left-right-edge-not-corner-cell"
        {{#if ownerColor}}
           style="background-color: {{ ownerColor }}"
        {{/if}}
      >
        <img src="{{ imageSrc }}" alt="start" width="40px">
        <div class="right-edge-cell-price">
          {{#if ownerColor}}
            <span class="price-rent-text">{{ rent }} $</span>
          {{/if}}

          {{#unless ownerColor}}
            <span class="price-rent-text">{{ price }} $</span>
          {{/unless}}
        </div>
      </div>
    {{/with}}
  </div>

  <div class="left-right-field-edge-row">
    {{#with gamePageData.cells.n38}}
      <!-- APPLE -->
      <div class="cell not-corner-cell left-right-edge-not-corner-cell"
        {{#if ownerColor}}
           style="background-color: {{ ownerColor }}"
        {{/if}}
      >
        <img src="{{ imageSrc }}" alt="start" width="35px">
        <div class="left-edge-cell-price">
          {{#if ownerColor}}
            <span class="price-rent-text">{{ rent }} $</span>
          {{/if}}

          {{#unless ownerColor}}
            <span class="price-rent-text">{{ price }} $</span>
          {{/unless}}
        </div>
      </div>
    {{/with}}

    {{#with gamePageData.cells.n14}}
      <!-- FACEBOOK -->
      <div class="cell not-corner-cell left-right-edge-not-corner-cell"
        {{#if ownerColor}}
           style="background-color: {{ ownerColor }}"
        {{/if}}
      >
        <img src="{{ imageSrc }}" alt="start" width="80px">
        <div class="right-edge-cell-price">
          {{#if ownerColor}}
            <span class="price-rent-text">{{ rent }} $</span>
          {{/if}}

          {{#unless ownerColor}}
            <span class="price-rent-text">{{ price }} $</span>
          {{/unless}}
        </div>
      </div>
    {{/with}}
  </div>

  <div class="left-right-field-edge-row">
    <div class="cell not-corner-cell left-right-edge-not-corner-cell">
      <!-- tax -->
      <img src="{{ gamePageData.cells.n37.imageSrc }}" alt="start" width="50px">
    </div>

    {{#with gamePageData.cells.n15}}
      <!-- TWITTER -->
      <div class="cell not-corner-cell left-right-edge-not-corner-cell"
        {{#if ownerColor}}
           style="background-color: {{ ownerColor }}"
        {{/if}}
      >
        <img src="{{ imageSrc }}" alt="start" width="50px">
        <div class="right-edge-cell-price">
          {{#if ownerColor}}
            <span class="price-rent-text">{{ rent }} $</span>
          {{/if}}

          {{#unless ownerColor}}
            <span class="price-rent-text">{{ price }} $</span>
          {{/unless}}
        </div>
      </div>
    {{/with}}
  </div>

  <div class="left-right-field-edge-row">
    {{#with gamePageData.cells.n36}}
      <!-- LAND ROVER -->
      <div class="cell not-corner-cell left-right-edge-not-corner-cell"
        {{#if ownerColor}}
           style="background-color: {{ ownerColor }}"
        {{/if}}
      >
        <img src="{{ imageSrc }}" alt="start" width="70px">
        <div class="left-edge-cell-price">
          {{#if ownerColor}}
            <span class="price-rent-text">{{ rent }} $</span>
          {{/if}}

          {{#unless ownerColor}}
            <span class="price-rent-text">{{ price }} $</span>
          {{/unless}}
        </div>
      </div>
    {{/with}}

    {{#with gamePageData.cells.n16}}
      <!-- AUDI -->
      <div class="cell not-corner-cell left-right-edge-not-corner-cell"
        {{#if ownerColor}}
           style="background-color: {{ ownerColor }}"
        {{/if}}
      >
        <img src="{{ imageSrc }}" alt="start" width="80px">
        <div class="right-edge-cell-price">
          {{#if ownerColor}}
            <span class="price-rent-text">{{ rent }} $</span>
          {{/if}}

          {{#unless ownerColor}}
            <span class="price-rent-text">{{ price }} $</span>
          {{/unless}}
        </div>
      </div>
    {{/with}}
  </div>

  <div class="left-right-field-edge-row">
    {{#with gamePageData.cells.n35}}
      <!-- NOVOTEL -->
      <div class="cell not-corner-cell left-right-edge-not-corner-cell"
        {{#if ownerColor}}
           style="background-color: {{ ownerColor }}"
        {{/if}}
      >
        <img src="{{ imageSrc }}" alt="start" width="80px">
        <div class="left-edge-cell-price">
          {{#if ownerColor}}
            <span class="price-rent-text">{{ rent }} $</span>
          {{/if}}

          {{#unless ownerColor}}
            <span class="price-rent-text">{{ price }} $</span>
          {{/unless}}
        </div>
      </div>
    {{/with}}

    {{#with gamePageData.cells.n17}}
      <!-- COCA-COLA -->
      <div class="cell not-corner-cell left-right-edge-not-corner-cell"
        {{#if ownerColor}}
           style="background-color: {{ ownerColor }}"
        {{/if}}
      >
        <img src="{{ imageSrc }}" alt="start" width="80px">
        <div class="right-edge-cell-price">
          {{#if ownerColor}}
            <span class="price-rent-text">{{ rent }} $</span>
          {{/if}}

          {{#unless ownerColor}}
            <span class="price-rent-text">{{ price }} $</span>
          {{/unless}}
        </div>
      </div>
    {{/with}}
  </div>

  <div class="left-right-field-edge-row">
    <div class="cell not-corner-cell left-right-edge-not-corner-cell">
      <!-- chance -->
      <img src="{{ gamePageData.cells.n34.imageSrc }}" alt="start" width="60px">
    </div>

    <div class="cell not-corner-cell left-right-edge-not-corner-cell">
      <!-- chance -->
      <img src="{{ gamePageData.cells.n18.imageSrc }}" alt="start" width="60px">
    </div>
  </div>

  <div class="left-right-field-edge-row">
    {{#with gamePageData.cells.n33}}
      <!-- RADISSON BLU -->
      <div class="cell not-corner-cell left-right-edge-not-corner-cell"
        {{#if ownerColor}}
           style="background-color: {{ ownerColor }}"
        {{/if}}
      >
        <img src="{{ imageSrc }}" alt="start" width="80px">
        <div class="left-edge-cell-price">
          {{#if ownerColor}}
            <span class="price-rent-text">{{ rent }} $</span>
          {{/if}}

          {{#unless ownerColor}}
            <span class="price-rent-text">{{ price }} $</span>
          {{/unless}}
        </div>
      </div>
    {{/with}}

    {{#with gamePageData.cells.n19}}
      <!-- PEPSI -->
      <div class="cell not-corner-cell left-right-edge-not-corner-cell"
        {{#if ownerColor}}
           style="background-color: {{ ownerColor }}"
        {{/if}}
      >
        <img src="{{ imageSrc }}" alt="start" width="80px">
        <div class="right-edge-cell-price">
          {{#if ownerColor}}
            <span class="price-rent-text">{{ rent }} $</span>
          {{/if}}

          {{#unless ownerColor}}
            <span class="price-rent-text">{{ price }} $</span>
          {{/unless}}
        </div>
      </div>
    {{/with}}
  </div>

  <div class="left-right-field-edge-row">
    {{#with gamePageData.cells.n32}}
      <!-- HOLIDAY INN -->
      <div class="cell not-corner-cell left-right-edge-not-corner-cell"
        {{#if ownerColor}}
           style="background-color: {{ ownerColor }}"
        {{/if}}
      >
        <img src="{{ imageSrc }}" alt="start" width="55px">
        <div class="left-edge-cell-price">
          {{#if ownerColor}}
            <span class="price-rent-text">{{ rent }} $</span>
          {{/if}}

          {{#unless ownerColor}}
            <span class="price-rent-text">{{ price }} $</span>
          {{/unless}}
        </div>
      </div>
    {{/with}}

    {{#with gamePageData.cells.n20}}
      <!-- FANTA -->
      <div class="cell not-corner-cell left-right-edge-not-corner-cell"
        {{#if ownerColor}}
           style="background-color: {{ ownerColor }}"
        {{/if}}
      >
        <img src="{{ imageSrc }}" alt="start" width="50px">
        <div class="right-edge-cell-price">
          {{#if ownerColor}}
            <span class="price-rent-text">{{ rent }} $</span>
          {{/if}}

          {{#unless ownerColor}}
            <span class="price-rent-text">{{ price }} $</span>
          {{/unless}}
        </div>
      </div>
    {{/with}}
  </div>
</div>

<div class="top-bottom-field-edge">
  <div class="cell corner-cell empty-corner-cell">
  </div>

  {{#with gamePageData.cells.n30}}
    <!-- KFC -->
    <div class="cell not-corner-cell top-bottom-edge-not-corner-cell"
      {{#if ownerColor}}
         style="background-color: {{ ownerColor }}"
      {{/if}}
    >
      <div class="bottom-edge-cell-price">
        {{#if ownerColor}}
          <span class="price-rent-text">{{ rent }} $</span>
        {{/if}}

        {{#unless ownerColor}}
          <span class="price-rent-text">{{ price }} $</span>
        {{/unless}}
      </div>
      <img src="{{ imageSrc }}" alt="start" width="40px">
    </div>
  {{/with}}

  {{#with gamePageData.cells.n29}}
    <!-- ROVIO -->
    <div class="cell not-corner-cell top-bottom-edge-not-corner-cell"
      {{#if ownerColor}}
         style="background-color: {{ ownerColor }}"
      {{/if}}
    >
      <div class="bottom-edge-cell-price">
        {{#if ownerColor}}
          <span class="price-rent-text">{{ rent }} $</span>
        {{/if}}

        {{#unless ownerColor}}
          <span class="price-rent-text">{{ price }} $</span>
        {{/unless}}
      </div>
      <img src="{{ imageSrc }}" alt="start" width="20px">
    </div>
  {{/with}}

  {{#with gamePageData.cells.n28}}
    <!-- BURGER KING -->
    <div class="cell not-corner-cell top-bottom-edge-not-corner-cell"
      {{#if ownerColor}}
         style="background-color: {{ ownerColor }}"
      {{/if}}
    >
      <div class="bottom-edge-cell-price">
        {{#if ownerColor}}
          <span class="price-rent-text">{{ rent }} $</span>
        {{/if}}

        {{#unless ownerColor}}
          <span class="price-rent-text">{{ price }} $</span>
        {{/unless}}
      </div>
      <img src="{{ imageSrc }}" alt="start" width="40px">
    </div>
  {{/with}}

  {{#with gamePageData.cells.n27}}
    <!-- MCDONALDS -->
    <div class="cell not-corner-cell top-bottom-edge-not-corner-cell"
      {{#if ownerColor}}
         style="background-color: {{ ownerColor }}"
      {{/if}}
    >
      <div class="bottom-edge-cell-price">
        {{#if ownerColor}}
          <span class="price-rent-text">{{ rent }} $</span>
        {{/if}}

        {{#unless ownerColor}}
          <span class="price-rent-text">{{ price }} $</span>
        {{/unless}}
      </div>
      <img src="{{ imageSrc }}" alt="start" width="40px">
    </div>
  {{/with}}

  {{#with gamePageData.cells.n26}}
    <!-- FORD -->
    <div class="cell not-corner-cell top-bottom-edge-not-corner-cell"
      {{#if ownerColor}}
         style="background-color: {{ ownerColor }}"
      {{/if}}
    >
      <div class="bottom-edge-cell-price">
        {{#if ownerColor}}
          <span class="price-rent-text">{{ rent }} $</span>
        {{/if}}

        {{#unless ownerColor}}
          <span class="price-rent-text">{{ price }} $</span>
        {{/unless}}
      </div>
      <img src="{{ imageSrc }}" alt="start" width="30px">
    </div>
  {{/with}}

  {{#with gamePageData.cells.n25}}
    <!-- BRITISH AIRWAYS -->
    <div class="cell not-corner-cell top-bottom-edge-not-corner-cell"
      {{#if ownerColor}}
         style="background-color: {{ ownerColor }}"
      {{/if}}
    >
      <div class="bottom-edge-cell-price">
        {{#if ownerColor}}
          <span class="price-rent-text">{{ rent }} $</span>
        {{/if}}

        {{#unless ownerColor}}
          <span class="price-rent-text">{{ price }} $</span>
        {{/unless}}
      </div>
      <img src="{{ imageSrc }}" alt="start" width="13px">
    </div>
  {{/with}}

  {{#with gamePageData.cells.n24}}
    <!-- LUFTHANSA -->
    <div class="cell not-corner-cell top-bottom-edge-not-corner-cell"
      {{#if ownerColor}}
         style="background-color: {{ ownerColor }}"
      {{/if}}
    >
      <div class="bottom-edge-cell-price">
        {{#if ownerColor}}
          <span class="price-rent-text">{{ rent }} $</span>
        {{/if}}

        {{#unless ownerColor}}
          <span class="price-rent-text">{{ price }} $</span>
        {{/unless}}
      </div>
      <img src="{{ imageSrc }}" alt="start" width="15px">
    </div>
  {{/with}}

  <div class="cell not-corner-cell top-bottom-edge-not-corner-cell">
    <!-- chance -->
    <img src="{{ gamePageData.cells.n23.imageSrc }}" alt="start" width="40px">
  </div>

  {{#with gamePageData.cells.n22}}
    <!-- AMERICAN AIRLINES -->
    <div class="cell not-corner-cell top-bottom-edge-not-corner-cell"
      {{#if ownerColor}}
         style="background-color: {{ ownerColor }}"
      {{/if}}
    >
      <div class="bottom-edge-cell-price">
        {{#if ownerColor}}
          <span class="price-rent-text">{{ rent }} $</span>
        {{/if}}

        {{#unless ownerColor}}
          <span class="price-rent-text">{{ price }} $</span>
        {{/unless}}
      </div>
      <img src="{{ imageSrc }}" alt="start" width="13px">
    </div>
  {{/with}}

  <div class="cell corner-cell empty-corner-cell">
  </div>
</div>
