<div class="game-page-container">
  <div class="players-container">
    {{#each gamePageData.players}}
      <div class="player-info">
        <div class="player-color-rectangle" style="background-color: {{ this.color }}"></div>
        <div class="nickname-balance-container">
          <span class="player-nickname-text">{{ this.nickname }}</span>
          <span class="player-balance-text"><span id="player-balance-{{ this.id }}">{{ this.balance }}</span> $</span>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="game-field-container">
    {{{ gameFieldHtml }}}
  </div>

  <div class="game-log-container">
    <div class="game-log-content">
    </div>
  </div>
</div>

<div class="game-actions-buttons-container">
  <div class="roll-dices-action-container">
    <span class="your-turn-text">Ваш ход!</span>
    <div class="primary-button roll-dices-button">Бросить кубики</div>
  </div>

  <div class="property-purchase-action-container">
    <span class="wanna-buy-property-text">Хотите купить собственность <span id="property-name"></span>?</span>
    <div class="purchase-buttons-container">
      <div class="primary-button accept-purchase-button">Да</div>
      <div class="primary-button decline-purchase-button">Нет</div>
    </div>
  </div>
</div>

{{#each gamePageData.players}}
  <div class="player-icon-circle"
       id="player-icon-{{ this.id }}"
       style="background-color: {{ this.color }}; top: {{ this.playerPosition.top }}px; left: {{ this.playerPosition.left }}px"></div>
{{/each}}
